.hero{
  opacity: 1;
}

.hero__overlay{
  position: absolute;
  top: 0;
  left: 0;
  @include square(100%);
  opacity: 0;
  background-color: $bodyBackground;
  z-index: 10;
}

.hero__inner{
  position: relative;
  background-color: #470529;
  @include square(100%);
  padding-top: 49px;
  z-index: 1;
}

.hero-logo{
  display: block;
  max-width: 91px;
  img{
    width: 100%;
  }
}

.hero-video{
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  padding-bottom: 100vh;
  margin: auto;
}

.hero-content{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;

  p{
    font-weight: 700;
    letter-spacing: 0.08px;
  }

  &:after{
    content: '';
    display: block;
    background-color: #fff;
    height: 90px;
    width: 1px;
    margin-top: 38px;
    @include center;
  }
}